.main {
  font-family: var(--primary-font);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.subtitleContainer {
  background-color: #f7e5e078;
  width: 100%;
  height: 775px;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitleContainer > p {
  font-size: 24px;
  width: 400px;
  text-align: center;
}

.subtitle {
  margin: 0;
  font-weight: var(--bold-font);
  font-size: var(--large-font);
  color: black
}

.projectsContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-column-gap: 80px;
  row-gap: 40px;
}

.projectsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 100%, 0);
  border-radius: 5px;
}

.projectsInfo:hover {
  box-shadow: 5px 10px 18px #afafaf;
}


.projectName {
  margin: 10px 0 0;
  color: black;
  font-size: 18px;
}

.jobTitle {
  margin: 0;
  font-size: 16px;
  color: var(--color-burnt-sienna);
}

.projectDesc {
  color: black;
  font-size: 14px;
  width: 360px;
  text-align: center;
  margin: 5px 0;
}

.projectImage {
  border-radius: 10px;
  box-shadow: 8px 8px 15px #00000040;
  transition: transform .2s;
}

.projectImage:hover {
  opacity: 0.9;
  transform: scale(1.02);
}